.button {
  --button-bg: var(--color-interactive-fill-default);
  --button-text: var(--color-interactive-text-default);
  --button-x-padding: 0.75em;
  --button-y-padding: 0.5em;
  --button-gutter: 0.5ch;
  --focus-color: var(--color-interactive-fill-default);

  display: inline-flex;
  gap: var(--button-gutter);
  align-items: center;
  line-height: var(--leading-flat);
  position: relative;
  border: none;
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  padding: var(--button-y-padding) var(--button-x-padding);
  text-transform: uppercase;
  letter-spacing: var(--uppercase-kerning);
  text-decoration: none;
  font-size: var(--size-step-00);
  font-weight: var(--font-bold);
  transition: transform 160ms var(--ease-out), filter 160ms var(--ease-out);
}

.button:hover {
  filter: brightness(105%);
}

.button:active {
  transform: scale(0.97);
}

/* Variant exceptions */
.button[data-button-variant="secondary"] {
  --button-bg: var(--color-fill-loud);
  --button-text: var(--color-on-loud);
  --focus-color: var(--color-brand-dark);
  --corner-secondary-color: var(--color-brand-primary);
}

.full-width.button {
  width: 100%;
  justify-content: center;
}
