.product-grid {
  --grid-item-min: 20.5rem;
}

.gallery-radio {
  display: none;
}

.main-image-label {
  display: none;
  cursor: default;
}

#gallery-img-0:checked ~ .main-image-container .main-image-label:nth-child(1) {
  display: grid;
  place-items: center;
  /* display: block; */
}
#gallery-img-1:checked ~ .main-image-container .main-image-label:nth-child(2) {
  display: grid;
  place-items: center;
  /* display: block; */
}
#gallery-img-2:checked ~ .main-image-container .main-image-label:nth-child(3) {
  display: block;
}
#gallery-img-3:checked ~ .main-image-container .main-image-label:nth-child(4) {
  display: block;
}
#gallery-img-4:checked ~ .main-image-container .main-image-label:nth-child(5) {
  display: block;
}
#gallery-img-5:checked ~ .main-image-container .main-image-label:nth-child(6) {
  display: block;
}
#gallery-img-6:checked ~ .main-image-container .main-image-label:nth-child(7) {
  display: block;
}
#gallery-img-7:checked ~ .main-image-container .main-image-label:nth-child(8) {
  display: block;
}
#gallery-img-8:checked ~ .main-image-container .main-image-label:nth-child(9) {
  display: block;
}
#gallery-img-9:checked ~ .main-image-container .main-image-label:nth-child(10) {
  display: block;
}

.image-thumb-list {
  display: flex;
  gap: 0.5rem;
  padding-left: 0;
  margin-top: 0.5rem;
}

.image-thumb-list-item {
  list-style-type: none;
}

.image-thumb-list-item label {
  display: block;
  cursor: pointer;
  opacity: 0.45;
  transition: opacity 0.2s;
}

.image-thumb-list-item label:hover {
  opacity: 0.75;
}

#gallery-img-0:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(1)
  label {
  opacity: 1;
}
#gallery-img-1:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(2)
  label {
  opacity: 1;
}
#gallery-img-2:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(3)
  label {
  opacity: 1;
}
#gallery-img-3:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(4)
  label {
  opacity: 1;
}
#gallery-img-4:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(5)
  label {
  opacity: 1;
}
#gallery-img-5:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(6)
  label {
  opacity: 1;
}
#gallery-img-6:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(7)
  label {
  opacity: 1;
}
#gallery-img-7:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(8)
  label {
  opacity: 1;
}
#gallery-img-8:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(9)
  label {
  opacity: 1;
}
#gallery-img-9:checked
  ~ .image-thumb-list
  .image-thumb-list-item:nth-child(10)
  label {
  opacity: 1;
}
