.site-head {
  letter-spacing: var(--uppercase-kerning);
  line-height: var(--leading-flat);
  font-size: var(--size-step-0);
  font-weight: var(--font-bold);
  padding-block-start: var(--space-md);
  padding-block-end: var(--space-md);
}

.site-head .repel {
  --gutter: var(--space-md);
}

.site-head__brand {
  container-type: inline-size;
  container-name: site-head-brand;
  flex-basis: clamp(25ch, 60%, 50rem);
  flex-grow: 1;
  font-weight: var(--font-weight-bold);
}

.site-head__brand a:not(:hover) {
  text-decoration: none;
}

.site-head hr {
  --flow-space: var(--space-xs);
  --hr-stroke: var(--stroke-width) solid var(--color-brand-primary);
}

.cart-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  background: transparent;
  border: none;
}

.cart-button:hover {
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1;
  min-width: 1.25rem;
  padding: 0.125rem 0.25rem;
  border-radius: 999px;
  background-color: var(--color-brand-primary);
  color: var(--color-light, white);
}
