.site-foot {
  background: var(--color-fill-loud);
  color: var(--color-foreground-inverse);
  line-height: var(--leading-none);
  padding-block: var(--space-md);
}

.site-foot .wrapper * {
  margin: 0;
}
