.slider {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4vw;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  anchor-name: --my-carousel;
  scroll-marker-group: after;

  min-width: 100%;
  aspect-ratio: 1500 / 800;
}

.slider::scroll-button(*) {
  border: 0;
  font-size: 1rem;
  background: none;
  color: var(--color-stone-100);
  opacity: 0.75;
  cursor: pointer;
}

.slider::scroll-button(*):hover,
.slider::scroll-button(*):focus {
  opacity: 1;
}

.slider::scroll-button(*):active {
  translate: 1px 1px;
}

.slider::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

.slider::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}
.slider::scroll-button(left) {
  right: calc(anchor(left) - 40px);
}

.slider::scroll-button(right) {
  left: calc(anchor(right) - 40px);
}

/* .slider::scroll-button(left) {
  content: "◄" / "Previous";
}

.slider::scroll-button(right) {
  content: "►" / "Next";
} */

.slider::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 30px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.slider-item {
  list-style-type: none;
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.slider-item::scroll-marker {
  content: attr(data-accName);
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color-stone-100);
  border: 1px solid var(--color-stone-800);
  border-radius: 50%;
  overflow: hidden;
  text-indent: 0.5rem;
  mix-blend-mode: difference;
}
.slider-item::scroll-marker:target-current {
  background-color: var(--color-stone-800);
  border: 1px solid var(--color-stone-100);
  mix-blend-mode: difference;
}

.slider:has(.slider-item:only-child) {
  scroll-marker-group: none;
}
